*.exe
*.ilk
*.opensdf
*.pdb
*.sdf
*.suo
*.swp
*.user
.DS_Store
/examples/GLWindow/GLWindow
/src/core/3rdparty/SDL2/
bin/
build/
cmake_install.cmake
CMakeFiles/
Debug/
docs/
ipch/
lib/
libs/
Makefile
obj/
Release/
Thumbs.db
