*.exe
*.ilk
*.opensdf
*.pdb
*.sdf
*.suo
*.swp
*.user
.DS_Store
/examples/GLWindow/GLWindow
/examples/GLWindow/project-vs2012/
/src/core/3rdparty/SDL2/
bin/
builds/
Debug/
docs/
ipch/
lib/
obj/
Release/
Thumbs.db
