*.*~
*.exe
*.ilk
*.opensdf
*.pdb
*.sdf
*.suo
*.swp
*.swo
*.user
.DS_Store
/examples/*
/src/XliPlatform/3rdparty/SDL2/*
!/src/XliPlatform/3rdparty/SDL2/include
!/src/XliPlatform/3rdparty/SDL2/src
bin/
build/
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Debug/
docs/
ipch/
lib/
libs/
Makefile
obj/
Release/
src/XliPlatform/android/shim/build.xml
src/XliPlatform/android/shim/gen/
src/XliPlatform/android/shim/local.properties
src/XliPlatform/android/shim/proguard-project.txt
src/XliPlatform/android/shim/project.properties
Thumbs.db
xcuserdata/
/src/XliPlatform/android/shim/.classpath
/src/XliPlatform/android/shim/.project
/src/XliPlatform/android/shim/.settings/org.eclipse.jdt.core.prefs
XliTest
