<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Xli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>XliAudio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>XliGLHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>XliHttp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>XliMain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>XliMedia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5AA38E4C151A00CC00979B55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE1535BD174CF162009C6275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE1535CA174CF171009C6275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE20885416C84F9900667537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2D492216C703DF00390436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2D493616C7056C00390436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
